body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: grey;
	padding: 10px;
	margin: 0;
}

h1 {
	color: white;
	padding-left: 20px;
}

#root {
	padding-bottom: 20px;
}

.tabs {
	width: 50%;
	border: none;
	background-color: grey;
	color: white;
	padding: 5px;
}

#active-tab {
	background-color: #666666;
}

.main-graph {
	padding-top: 50px;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}

.graph-controls h3,select,input {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.graph-controls select {
	width: 77px;
}

#from-label {
	margin-left: 40px;
}

.main-convert {
	text-align: center;
	padding-top: 20px;
}

.convert-div {
	display: inline-block;
}

input {
	border-color: black;
	border-style: solid;
	background-color: white;
	color: black;
}

select {
	border-color: black;
	border-style: solid;
	background-color: white;
	color: black;
}

.convert-div button {
	border-color: black;
	border-style: solid;
	background-color: white;
	color: black;
	padding-top: 2px;
	padding-bottom: 2px;
}

.convert-div button:hover {
	background-color: black;
	color: white;
}

.convert-div h3 {
	display: inline-block;
}

.convert-div * {
	margin: 10px;
}
